<style>
  /* Center the modal */
  .modal {
    display: flex !important;
    align-items: center;
    justify-content: center;
  }
</style>

<div class="modal" id="blockedModal">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Oops!</h4>
          
        </div>
        
        <!-- Modal Body -->
        <div class="modal-body">
          <p>Sorry,<%= user.name %>  you are blocked from accessing this content.</p>
          <!-- <p>Please contact support for further assistance.</p> -->
        </div>
        
      </div>
    </div>
  </div>