<!-- <div class="container mt-5">
    <div class="row justify-content-center">
        <%- include('../partials/flash_msg') %>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h2 class="text-center mb-4">Forgot Password</h2>
                    <form action="/forgot-password" method="post">
                        <div class="form-group">
                            <label for="email">Enter Email address</label>
                            <input type="email" class="form-control" id="email" placeholder="Enter email">
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Reset Password</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div> -->


<div class="container mt-5 mb-5">
    <div class="row justify-content-center">
        <%- include('../partials/flash_msg') %>
        <div class="col-md-6">
            <div class="card shadow-lg">
                <div class="card-header text-center">
                    <h2>Forgot Password</h2>
                </div>
                <div class="card-body">
                    <p class="text-center">Enter your email address below to reset your password.</p>
                    <form action="/forgot-password" method="post">
                        <div class="mb-3">
                            <label for="email" class="form-label">Email Address</label>
                            <input type="email" class="form-control" name="email" id="email" placeholder="Enter your email address" required>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary h-auto">Reset Password</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>