<!DOCTYPE html>
<html lang="en">
<head>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Fashion - eCommerce HTML5 Template</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="/shop/assets/img/favicon.png">
    


        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">


        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <!-- all css here -->
        <link rel="stylesheet" href="/shop/assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="/shop/assets/css/magnific-popup.css">
        <link rel="stylesheet" href="/shop/assets/css/animate.css">
        <link rel="stylesheet" href="/shop/assets/css/owl.carousel.min.css">
        <link rel="stylesheet" href="/shop/assets/css/themify-icons.css">
        <link rel="stylesheet" href="/shop/assets/css/pe-icon-7-stroke.css">
        <link rel="stylesheet" href="/shop/assets/css/meanmenu.min.css">
        <link rel="stylesheet" href="/shop/assets/css/bundle.css">
        <link rel="stylesheet" href="/shop/assets/css/style.css">
        <link rel="stylesheet" href="/shop/assets/css/responsive.css">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
        <script src="/shop/assets/js/vendor/modernizr-3.11.7.min.js"></script>
    </head>
<body>
    

 

  <page><%-body %></page>

 



    <script>
        // Function to hide the flash message after a certain time (e.g., 5 seconds)
        function hideFlashMessage() {
          const flashMessage = document.getElementById("flash-message");
          if (flashMessage) {
            setTimeout(() => {
              flashMessage.style.display = "none";
            }, 5000); // 5000 milliseconds (5 seconds)
          }
        }
  
        // Call the function to hide the flash message when the page loads
        window.addEventListener("load", hideFlashMessage);
      </script>

      


    <!-- all js here -->
    
    <script src="/shop/assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="/shop/assets/js/popper.js"></script>
    <script src="/shop/assets/js/bootstrap.min.js"></script>
    <script src="/shop/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="/shop/assets/js/isotope.pkgd.min.js"></script>
    <script src="/shop/assets/js/imagesloaded.pkgd.min.js"></script>
    <script src="/shop/assets/js/jquery.counterup.min.js"></script>
    <script src="/shop/assets/js/waypoints.min.js"></script>
    <script src="/shop/assets/js/ajax-mail.js"></script>
    <script src="/shop/assets/js/owl.carousel.min.js"></script>
    <script src="/shop/assets/js/plugins.js"></script>
    <script src="/shop/assets/js/main.js"></script>
</body>
</html>