<aside class="navbar-aside" id="offcanvas_aside" style="width: 250px;">
    <div class="aside-top">
        <a href="index.html" class="brand-wrap">
            <img src="/admin/assets/imgs/theme/logo.svg" class="logo" alt="Evara Dashboard">
        </a>
        <div>
            <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i>
            </button>
        </div>
    </div>
    <nav>
        <ul class="menu-aside">
            <li class="menu-item active">
                <a class="menu-link" href="/admin/dashboard"> <i class="icon material-icons md-home"></i>
                    <span class="text">Dashboard</span>
                </a>
            </li>
            <li class="menu-item has-submenu">
                <a class="menu-link" href="/admin/productlist"> <i class="icon material-icons md-shopping_bag"></i>
                    <span class="text">Products</span>
                </a>
                <div class="submenu">
                    <a href="/admin/productlist">Product List</a>

                    <a href="/admin/addnewproduct">Add Products</a>
                </div>
            </li>
            <li class="menu-item has-submenu">
                <a class="menu-link" href="/admin/orderlist"> <i class="icon material-icons md-shopping_cart"></i>
                    <span class="text">Orders</span>
                </a>
                <div class="submenu">
                    <a href="/admin/orderlist">Order list</a>


                </div>
            </li>
            <li class="menu-item has-submenu">
                <a class="menu-link" href="/admin/customers"> <i class="icon material-icons md-store"></i>
                    <span class="text">Customers</span>
                </a>
                <div class="submenu">

                    <a href="/admin/customers">Customers list</a>
                </div>
            </li>
            <li class="menu-item has-submenu">
                <a class="menu-link" href="/admin/Categories"> <i class="icon material-icons md-add_box"></i>
                    <span class="text">Categories</span>
                </a>
                <div class="submenu">
                    <a href="/admin/Categories">Categories </a>
                    <a href="/admin/addcategory">Add Category</a>
                </div>
            </li>

            <li class="menu-item has-submenu">
                <a class="menu-link" href="/admin/coupon"> <i class="icon material-icons md-local_offer"></i>
                    <span class="text">Coupons</span>
                </a>
                <div class="submenu">
                    <a href="/admin/coupon">Coupons </a>
                    <a href="/admin/addcoupon">Add Coupon</a>
                </div>
            </li>

            <li class="menu-item has-submenu">
                <a class="menu-link" href="/admin/sales-report"><i class="icon material-icons md-local_offer"></i>
                    <span class="text">Sales Report</span>
                </a>
                <div class="submenu">
                    <a href="/admin/sales-report">Sales Report</a>

                </div>

            </li>
            <li class="menu-item has-submenu">
                <a class="menu-link" href="#"> <i class="icon material-icons md-person"></i>
                    <span class="text">Account</span>
                </a>
                <div class="submenu">
                    <a href="/admin/login"> login</a>
                </div>
            </li>
      </nav>
</aside>